body{
    background-color:rgb(225, 227, 236);
}
h1, h2, h3, h4, h5, p{
    font-family:arial;
}
pre{
    font-size: 14px;
}
mark{     
    font-style: italic;
}
.warning{
    font-size: 11px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

#main_doc{
    margin-left:25px;

}
#tags_list{
    margin:10px;
  
}
#tags_list>tbody>tr>td{
    background-color: rgb(225, 227, 236);
    padding:4px;
    
     
}
#tags_list  {
     border-top:solid rgb(255, 255, 255) 2px;
      border-right:solid rgb(255, 255, 255) 2px; 
     border-bottom:solid rgb(255, 255, 255) 2px; 
     border-left:solid rgb(255, 255, 255) 2px; 

}
